.shit_container {
  display: grid;
  border-bottom: 2px solid #000;
}

.shit_container > div {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: relative;
}
.resizer {
  position: absolute;
  width: 2px;
  height: 100%;
  right: -2px;
  top: 0;
}
.resizer:hover {
  background-color: red;
  cursor: col-resize;
}
